@mixin cards {
  width: 95%;
  align-items: flex-start;
  
  @media (min-width: 1024px) { margin: 10px 0px;}
  @media (max-width: 1023px) { margin: 8px 0px;}
  @media (max-width: 767px) { margin: 6px 0px;}
  @media print { margin: 10px 0px;}
}

@mixin subtitles {
  text-align: center;
  width: 100%;
  @media (min-width: 1024px) { font-size: 24px; margin-bottom: 10px; }
  @media (max-width: 1023px) { font-size: 20px; margin-bottom: 8px;  }
  @media (max-width: 767px) { font-size: 16px; margin-bottom: 6px; }
  @media print { font-size: 24px; margin-bottom: 10px;}
}

@mixin description {
  text-align: left;
  @media (min-width: 1024px) { font-size: 16px;}
  @media (max-width: 1023px) { font-size: 14px;}
  @media (max-width: 767px) { font-size: 12px;}
  @media print { font-size: 16px;}
}

@mixin cards_experience {
  align-items: flex-start;
  width: 95%;
  @media (min-width: 1024px) { margin: 10px 0px; }
  @media (max-width: 1023px) { margin: 8px 0px; }
  @media (max-width: 767px) { margin: 6px 0px; }
  @media print {margin: 10px 0px;}
}

@mixin subtitles_experience {
  text-align:left;
  @media (min-width: 1024px) { font-size: 24px; margin-bottom: 10px;}
  @media (max-width: 1023px) { font-size: 20px; margin-bottom: 8px;}
  @media (max-width: 767px) { font-size: 16px; margin-bottom: 6px;}
  @media print {font-size: 24px; margin-bottom: 10px;}
}

@mixin description_experience {
  text-align: justify;
  @media (min-width: 1024px) { font-size: 16px;}
  @media (max-width: 1023px) { font-size: 14px;}
  @media (max-width: 767px) { font-size: 12px;}
  @media print {font-size: 16px;}
}