@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";

.about-card{
    @include column;
    align-items: flex-start;
    margin: 15px 0px;
    h2{
        text-align:left;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    span{
        text-align: justify;
        margin: 0px 20px;
        font-size: 16px;
    }
}