@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";

.photo-card{
    width: 90%;
}

.photo-card img{
    width: 170px;
    margin: 15px 0px;
    border-radius: 50%;
}

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-card img{
        width: 80%;
    }
  }
  
  /* End Media Queries Screens 768px and 1023px */
  
  /* Start Media Queries Screens 767px */
  @media screen and (max-width: 767px) {
    .photo-card img{
        width: 85%;
    }
  }
  
  /* End Media Queries Screens 767px */