@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";


.profilecard {
    width: 100%;
    background-color: $profileColor;
    margin: 15px 0px;
    padding: 15px 0px;
    @include column;
    align-items: center;
    justify-content: center;
    color: $textColor;
    .profilecard__name{
        font-size: 38px;
        font-weight: bold;
        text-align: left;  
        width: 95%;
    }
    .profilecard__title{
        font-size: 22px;
        text-align: left;
        width: 95%;
    }
}

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .profilecard {
        margin: 13px 0px;
        padding: 13px 0px;
        .profilecard__name{
            font-size: 34px;
        }
        .profilecard__title{
            font-size: 18px;
        }
    }
  }
  
  /* End Media Queries Screens 768px and 1023px */
  
  /* Start Media Queries Screens 767px */
  @media screen and (max-width: 767px) {
    .profilecard {
        margin: 11px 0px;
        padding: 11px 0px;
        .profilecard__name{
            font-size: 28px;
        }
        .profilecard__title{
            font-size: 13px;
        }
    }
  }
  
  /* End Media Queries Screens 767px */