@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";
@import "/src/app/styles/MainCards.scss";

.workscard {
  @include column;
  @include cards_experience;
  .workscard__title {
    @include subtitles_experience;
  }
  .workscard__history{
    @include column;
    @include description_experience;
    align-items: flex-start;
    .workscard__history--position{
        font-weight: bold;
    }
    .workscard__history--company{
        font-style: italic;
    }
    .workscard__history--project{
        color: $projectColor;
        font-weight: bold;
    }
  }

//   .aboutcard__text {
//     @include description_experience;
//   }
}