@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";
@import "/src/app/styles/MainCards.scss";

.workscard {
  @include flex-column;
  @include cards_experience;
  &__title {
    @include subtitles_experience;
  }
  &__history {
    @include flex-column;
    @include description_experience;
    align-items: flex-start;
    &--position {
      font-weight: bold;
    }
    &--company {
      font-style: italic;
    }
    &--project {
      color: $projectColor;
      font-weight: bold;
    }
  }
}
