@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";
@import "/src/app/styles/MainCards.scss";

.contactcard {
  @include column;
  @include cards;
  .contactcard__title {
    @include subtitles;
  }
  .contactcard__sub {
    @include row;
    width: 95%;
    justify-content: flex-start;
    .contactcard__sub--link {
      @include row;
      @include description;
      cursor: pointer;
      text-decoration: underline;
      color: $textColor;
    }
    .contactcard__sub--link:visited {
      color: $textColor;
    }
    .contactcard__sub--text {
      @include row;
      @include description;
    }
  }
  .text__icon{
    width: 26px;
    height: 26px;
    margin: 5px;
  }
}

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contactcard {
    .text__icon {
      width: 22px;
      height: 22px;
    }
  }
}

/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .contactcard {
    .text__icon {
      width: 18px;
      height: 18px;
    }
  }
}

/* End Media Queries Screens 767px */
