@import "/src/app/styles/Flex.scss";

.photo-cv{
    width: 90%;
}

.photo-cv img{
    width: 150px;
    margin: 15px 0px;
}

.contact{
    @include display-flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: 15px 0px;
}

.contact div{
    // border: 1px solid white;
    @include display-flex-c;
    justify-content: center;
}

h2{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.contact span{
    font-size: 14px;
    width: 100%;
}

.contact a {
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.contact a:visited {
    color: white;
  }

.font-icon{
    width: 30px;
    margin: 5px;
}