@import "/src/app/styles/Flex.scss";
@import "/src/app/styles/Colors.scss";

.photo-card{
    width: 90%;
}

.photo-card img{
    width: 150px;
    margin: 15px 0px;
}

.contact-card{
    @include display-flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: 15px 0px;
}

.contact-card div{
    // border: 1px solid white;
    @include display-flex-c;
    justify-content: center;
}

h2{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.contact-card span{
    font-size: 14px;
    width: 100%;
}

.contact-card a {
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.contact-card a:visited {
    color: white;
  }

.font-icon{
    width: 30px;
    margin: 5px;
}

.profile-card {
    width: 100%;
    background-color: $profileColor;
    margin: 15px 0px;
    padding-bottom: 15px;
    @include display-flex;
    align-items: flex-start;
    span{
        margin-left: 20px;
    }
    .name{
        font-size: 42px;
        font-weight: bold;
        color: white;
    }
    .title{
        font-size: 24px;
        color: white;
    }
}